<h1>Giai phuong trinh bac 2</h1>
<form asp-action="PTB2">
    <label for="hsa">Nhap he so A:</label>
    <input type="number" name="a" id="hsa">
    <br>
    <label for="hsb">Nhap he so B:</label>
    <input type="number" name="b" id="hsb">
    <br>
    <label for="hsc">Nhap he so A:</label>
    <input type="number" name="c" id="hsc">
    <br>
    <input type="submit" value="Tinh">
</form>
<h1>@ViewBag.mess</h1>