<h1>Tinh tong cac chu so thanh phan</h1>
<form asp-action="Sum">
    <label for="b">Input Number</label>
    <input type="text" name="sum" id="b">
    <input type="submit" name="Sent">
</form>
<h1>@ViewBag.xyz</h1>