<form asp-action="Create" >
    <label for="">Student Code</label>
    <br>
    <input type="number" name="StudentCode" id="">
    <br>
    <label for="">FullName</label>
    <br>
    <input type="text" name="FullName" id="">
    <br>
    <label for="">Address</label>
    <br>
    <input type="text" name="Address" id="">
    <br>
    <input type="submit" name="Sent" id="">
</form>
<h2>@ViewBag.render</h2>
